@font-face {
  font-family: "Roboto Regular";
  src: url("../fonts/Roboto-Regular.ttf");
}
@font-face {
  font-family: "Roboto Bold";
  src: url("../fonts/Roboto-Bold.ttf");
}
/*! normalize-scss | MIT/GPLv2 License | bit.ly/normalize-scss */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0;
}

/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
figcaption,
figure {
  display: block;
}

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px;
}

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * Add the correct display in IE.
 */
main {
  display: block;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Links
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic;
}

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000;
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block;
}

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none;
}

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 */
button {
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
  /* 2 */
}

button,
[type=button],
[type=reset],
[type=submit] {
  /**
   * Remove the inner border and padding in Firefox.
   */
  /**
   * Restore the focus styles unset by the previous rule.
   */
}
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Show the overflow in Edge.
 */
input {
  overflow: visible;
}

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
  /**
   * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
   */
}
[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  color: inherit;
  /* 2 */
  white-space: normal;
  /* 1 */
}

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto;
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/*
 * Add the correct display in IE 9-.
 */
menu {
  display: block;
}

/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block;
}

/**
 * Add the correct display in IE.
 */
template {
  display: none;
}

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none;
}

body,
h1,
h2,
h3,
ul,
li,
div {
  margin: 0;
  padding: 0;
}

html {
  color: #fff;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
}

h1 {
  font-weight: 700;
  font-size: 60px;
  line-height: 90px;
  text-transform: uppercase;
}

h2 {
  font-weight: 700;
  font-size: 38px;
  line-height: 57px;
  text-transform: uppercase;
}

.d-flex {
  display: flex;
}

.align-center {
  align-items: center;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.relative {
  position: relative;
}

.pt-25 {
  padding-top: 25px;
}

.mr-24 {
  margin-right: 24px;
}

.mb-16 {
  margin-bottom: 16px;
}

.mb-17 {
  margin-bottom: 17px;
}

.pb-75 {
  padding-bottom: 75px;
}

.header-text {
  color: #fff;
  font-weight: 700;
  font-size: 11px;
  line-height: 13px;
  text-transform: uppercase;
}

.white {
  color: #fff;
}

.bg-purple {
  background: #5328a1;
}

.bg-red {
  background: #95390c;
}

.mr-49 {
  margin-right: 49px;
}

.mb-25 {
  margin-bottom: 25px;
}

.pt-100 {
  padding-top: 100px;
}

.bg-black {
  background: #08020d;
}

.mb-10 {
  margin-bottom: 10px;
}

.mr-50 {
  margin-right: 50px;
}

.menu {
  list-style-type: none;
}

.menu-item {
  margin-right: 24px;
}

.menu-item:hover,
.logo-text:hover {
  color: #95390c;
  cursor: pointer;
}

.menu-item:nth-child(4) {
  margin-right: 0;
}

.logo-group {
  margin-right: 88px;
}

.logo {
  margin-right: 16px;
}

.logo:hover {
  cursor: pointer;
}

.site-search {
  width: 248px;
  margin-left: auto;
}

.search-input {
  width: 98%;
  height: 25px;
  color: #757575;
  font-weight: 400;
  font-size: 13.3px;
  font-family: Arial, sans-serif;
  line-height: 15px;
  text-transform: uppercase;
  text-indent: 8px;
  background: #3c3b3d;
  border: 0;
  border-radius: 50px;
}

.header {
  position: absolute;
  top: 25px;
  right: 0;
  left: 0;
}

.artist-promo {
  padding-top: 250px;
  padding-bottom: 223px;
  background: url(../images/Morten-Harket.png) no-repeat center;
  background-size: cover;
}

.fans-quantity {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}

.buttons {
  margin-top: 48px;
}

.button {
  flex: 1 1 200px;
  max-width: 200px;
  padding-top: 21px;
  padding-bottom: 21px;
  padding-left: 31px;
  font-weight: 400;
  font-size: 12.8px;
  line-height: 150%;
  text-transform: uppercase;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.button:hover {
  color: #08020d;
}

.btn-image {
  width: 20px;
  height: 20px;
  margin-right: 16px;
}

@media screen and (max-width: 1199px) {
  .container {
    width: 100%;
    max-width: 960px;
    padding-right: 10px;
    padding-left: 10px;
  }

  .site-search {
    max-width: 248px;
    margin-left: auto;
  }
}
@media screen and (max-width: 991px) {
  .container {
    width: 720px;
  }

  .nav {
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
  }

  .logo-group {
    margin-right: 0;
  }

  .menu {
    flex-direction: column;
    margin-top: 20px;
  }

  .menu-item {
    margin-top: 10px;
    margin-right: 0;
  }

  .site-search {
    max-width: 100%;
    margin-top: 25px;
    margin-left: 0;
  }
}
@media screen and (max-width: 767px) {
  .container {
    width: 540px;
  }
}
@media screen and (max-width: 575px) {
  .container {
    max-width: 85%;
    margin: 0;
    padding: 0 25px;
  }

  .menu {
    margin-top: 17px;
  }

  .menu-item {
    margin-top: 0;
    margin-bottom: 3px;
  }

  .site-search {
    width: 100%;
    margin-top: 11px;
    margin-left: 0;
  }

  .artist-promo {
    padding-top: 225px;
  }

  .artist-name {
    margin-bottom: 13px;
    font-size: 30px;
    line-height: 45px;
  }

  .buttons {
    flex-direction: column;
  }

  .button {
    flex: 0;
    max-width: 200px;
  }

  .button:nth-child(1) {
    margin-right: 0;
    margin-bottom: 24px;
  }
}
.popular-tracks-list {
  flex-wrap: wrap;
  margin-top: 48px;
}

.track {
  align-items: center;
  width: 551px;
}

.popular-track-image {
  margin-right: 15px;
}

.track-info {
  flex-direction: column;
}

.track-title {
  font-weight: 700;
  font-size: 12.8px;
  line-height: 150%;
  text-transform: uppercase;
}

.track-author,
.track-timing {
  font-weight: 400;
  font-size: 12.8px;
  line-height: 150%;
}

.track-timing {
  margin-left: auto;
}

.albums-list {
  flex-wrap: wrap;
  margin-top: 48px;
}

.album-name {
  margin-bottom: 1px;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
}

.album-year {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
}

.similar-artist-list {
  flex-wrap: wrap;
  margin-top: 48px;
}

.similar-artist {
  flex-direction: column;
  align-items: center;
}

.similar-artist-name {
  margin-bottom: 1px;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
}

.similar-artist-fans {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
}

@media screen and (max-width: 1199px) {
  .container {
    width: 100%;
    max-width: 960px;
    padding-right: 10px;
    padding-left: 10px;
  }

  .track:nth-child(5) {
    margin-bottom: 25px;
  }
}
@media screen and (max-width: 991px) {
  .container {
    width: 720px;
  }

  .popular-tracks-list {
    width: 100%;
  }

  .track {
    width: 100%;
    margin-right: 0;
  }
}
@media screen and (max-width: 767px) {
  .container {
    width: 540px;
  }

  .artist-subheadear {
    font-size: 18px;
    line-height: 27px;
  }

  .album,
.similar-artist {
    width: 139px;
    padding: 1px 0;
  }

  .album-image,
.similar-artist-image {
    width: 137px;
  }

  .similar-artist-fans {
    text-align: center;
  }

  .similar-artist-name {
    margin-bottom: 0;
  }
}
@media screen and (max-width: 575px) {
  .container {
    max-width: 90%;
    margin: 0;
    padding-right: 20px;
    padding-left: 20px;
  }

  .album:nth-child(2),
.album:nth-child(4),
.album:nth-child(6) {
    margin-right: 0;
  }

  .similar-artist {
    margin-right: 0;
  }

  .similar-artist:nth-child(odd) {
    margin-right: 50px;
  }

  .album:nth-child(5) {
    margin-bottom: 25px;
  }
}

/*# sourceMappingURL=style.css.map */
