.menu {
  list-style-type: none;
}

.menu-item {
  margin-right: 24px;
}

.menu-item:nth-child(4) {
  margin-right: 0;
}

.logo {
  margin-right: 16px;
}

.site-search {
  width: 248px;
  margin-left: auto;
}

.search-input {
  width: 98%;
  height: 25px;

  color: #757575;

  font-weight: 400;

  font-size: 13.3px;

  font-family: Arial, sans-serif;
  line-height: 15px;
  text-transform: uppercase;
  text-indent: 8px;

  background: $dark;

  border: 0;

  border-radius: 50px;
}

.header {
  position: absolute;
  right: 0;
  left: 0;
}

.artist-promo {
  padding-top: 250px;
  padding-bottom: 223px;

  background: url(../images/Morten-Harket.png) no-repeat center;
  background-size: cover;
}

.fans-quantity {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}

.buttons {
  margin-top: 48px;
}

.button {
  flex: 1 1 200px;
  max-width: 200px;
  padding-top: 21px;
  padding-bottom: 21px;
  padding-left: 31px;

  font-weight: 400;

  font-size: 12.8px;
  line-height: 150%;
  text-transform: uppercase;

  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.button:hover {
  color: $black;
}

.btn-image {
  width: 20px;
  height: 20px;
  margin-right: 16px;
}
