.menu {
  list-style-type: none;
}

.menu-item {
  margin-right: 24px;
}

.menu-item:hover,
.logo-text:hover {
  color: $red;

  cursor: pointer;
}

.menu-item:nth-child(4) {
  margin-right: 0;
}

.logo-group {
  margin-right: 88px;
}

.logo {
  margin-right: 16px;
}

.logo:hover {
  cursor: pointer;
}

.site-search {
  width: 248px;
  margin-left: auto;
}

.search-input {
  width: 98%;
  height: 25px;

  color: #757575;

  font-weight: 400;

  font-size: 13.3px;

  font-family: Arial, sans-serif;
  line-height: 15px;
  text-transform: uppercase;
  text-indent: 8px;

  background: $dark;

  border: 0;

  border-radius: 50px;
}

.header {
  position: absolute;
  top: 25px;
  right: 0;
  left: 0;
}

.artist-promo {
  padding-top: 250px;
  padding-bottom: 223px;

  background: url(../images/Morten-Harket.png) no-repeat center;
  background-size: cover;
}

.fans-quantity {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}

.buttons {
  margin-top: 48px;
}

.button {
  flex: 1 1 200px;
  max-width: 200px;
  padding-top: 21px;
  padding-bottom: 21px;
  padding-left: 31px;

  font-weight: 400;

  font-size: 12.8px;
  line-height: 150%;
  text-transform: uppercase;

  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.button:hover {
  color: $black;
}

.btn-image {
  width: 20px;
  height: 20px;
  margin-right: 16px;
}

// Responsive

@media screen and (max-width: 1199px) {
  .container {
    width: 100%;
    max-width: 960px;
    padding-right: 10px;
    padding-left: 10px;
  }

  .site-search {
    max-width: 248px;
    margin-left: auto;
  }
}

@media screen and (max-width: 991px) {
  .container {
    width: 720px;
  }

  .nav {
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
  }

  .logo-group {
    margin-right: 0;
  }

  .menu {
    flex-direction: column;

    margin-top: 20px;
  }

  .menu-item {
    margin-top: 10px;
    margin-right: 0;
  }

  .site-search {
    max-width: 100%;
    margin-top: 25px;
    margin-left: 0;
  }
}

@media screen and (max-width: 767px) {
  .container {
    width: 540px;
  }
}

@media screen and (max-width: 575px) {
  .container {
    max-width: 85%;
    margin: 0;
    padding: 0 25px;
  }

  .menu {
    margin-top: 17px;
  }

  .menu-item {
    margin-top: 0;
    margin-bottom: 3px;
  }

  .site-search {
    width: 100%;
    margin-top: 11px;
    margin-left: 0;
  }

  .artist-promo {
    padding-top: 225px;
  }

  .artist-name {
    margin-bottom: 13px;

    font-size: 30px;
    line-height: 45px;
  }

  .buttons {
    flex-direction: column;
  }

  .button {
    flex: 0;
    max-width: 200px;
  }

  .button:nth-child(1) {
    margin-right: 0;
    margin-bottom: 24px;
  }
}
