.d-flex {
  display: flex;
}

.align-center {
  align-items: center;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.relative {
  position: relative;
}

.pt-25 {
  padding-top: 25px;
}

.mr-24 {
  margin-right: 24px;
}

.mb-16 {
  margin-bottom: 16px;
}

.mb-17 {
  margin-bottom: 17px;
}

.pb-75 {
  padding-bottom: 75px;
}

.header-text {
  color: #fff;
  font-weight: 700;
  font-size: 11px;
  line-height: 13px;
  text-transform: uppercase;
}

.white {
  color: $white;
}

.bg-purple {
  background: $purple;
}

.bg-red {
  background: $red;
}

.mb-25 {
  margin-bottom: 25px;
}

.pt-100 {
  padding-top: 100px;
}

.bg-black {
  background: $black;
}

.mb-10 {
  margin-bottom: 10px;
}

.mr-50 {
  margin-right: 50px;
}
