body,
h1,
h2,
h3,
ul,
li,
div {
  margin: 0;
  padding: 0;
}

html {
  color: $white;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
}

h1 {
  @include set-text-style(700, 60px, 90px, uppercase);
}

h2 {
  @include set-text-style(700, 38px, 57px, uppercase);
}
