@font-face {
  font-family: 'Roboto Regular';
  src: url('../fonts/Roboto-Regular.ttf');
}

@font-face {
  font-family: 'Roboto Bold';
  src: url('../fonts/Roboto-Bold.ttf');
}

@import '../../node_modules/normalize-scss/sass/normalize';

@include normalize();

@import 'variables';
@import 'utils';
@import 'default';
@import 'atomic';
@import 'shared/header';
@import 'pages/artist';
